@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:lightsteelblue;
    font-size: 10px;
    font-family: 'Kumbh Sans', sans-serif;
}
.puz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 3em;
    margin: 20px;
}
.img{
    cursor: pointer;
    width: 180px;
    border: solid 3px black;
}
.btn{
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 60px;
}
#validate{
    background-color:navy;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 2em;
    font-weight: 600;
    width: 120px;
    height: 40px;
}
#restart{
    background-color:firebrick;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.8em;
    font-weight: 600;
    width: 90px;
    height: 35px;
}
#result{
    margin: 25px;
    margin-top: 25px;
    border-radius: 10px;
    background-color: black;
    color:white;
    font-size: 2.2em;
    font-weight: 700;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: neonEffect 5s infinite;
    visibility: hidden;
}
@keyframes neonEffect{
    0%, 35%, 45%, 65%, 100% {
        text-shadow:
        white 0 0 12px,
        #EFFD6D 0 0 24px,
        #EFFD6D 0 0 36px;
    }
    40%, 60%{
        text-shadow: none;
    }
}
#restart:hover{
    opacity: 80%;
}
#validate:hover{
    opacity: 80%;
}
footer{
    font-size: 1.5em;
}